{%- assign hobbies = data.hobbies %}
{%- if hobbies and hobbies.show %}
<section class="hobbies" style="order: {{ hobbies.order | default: 1 }}">
  <div class="section-title">
    <i class="section-icon fa-solid fa-heart"></i>
    <h2>{{ hobbies.title }}</h2>
  </div>

  <div class="section-content">
    {%- if hobbies.description.size > 0 %}
    <div class="description markdown">
      {{ hobbies.description | markdownify }}
    </div>
    {%- endif %}

    {%- if hobbies.items %}
    <ul class="items">
      {%- for item in hobbies.items %}
      <li class="item">
        <span>{{ item.idiom }}</span>
        {%- if item.level %}
        <small>[{{ item.level }}]</small>
        {%- endif %}
      </li>
      {%- endfor %}
    </ul>
    {%- endif %}
  </div>
</section>
{%- endif %}
